*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    width: 400px;
    height: 300px;
    padding-top: 30px;
    text-align: center;
    background-color: grey;
    border-radius: 10px 80px;
    box-shadow: 0 0 20px yellow;
}