*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    width: 400px;
    height: 350px;
    padding-top: 30px;
    text-align: center;
    background-color: grey;
    border-radius: 10px 80px;
    box-shadow: 0 0 20px yellow;
}

p{
    font-size: 25px;
    font-style: sans-sarif;
    font-weight: 900;
}

.input{
    padding-top: 20px;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline: none;
}

.btn{
    padding-bottom: 20px;
}

button{
    width: 200px;
    height: 30px;
    border-radius: 20px 100px;
    border: none;
    outline: none;
}

  
